// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower
/*
body {
  padding: 0;
}

md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green;
}

md-input-container:not(.md-input-invalid) > md-icon.name {
    color: dodgerblue;
}

md-input-container.md-input-invalid > md-icon.email,
  md-input-container.md-input-invalid > md-icon.name {
    color: red;
}*/
$gray: #eee;
$placeholderFontSize: 14px;

.ap-content {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  //fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}
.user-avatar {
  border-radius: 99%;
}

md-item a {
  width: 100%;
  margin: 0 !important;
}

md-item a.active {
  background-color: #F0F0F0;
  border-radius: 0px;
}

.ap-add-applicant-btn {
  vertical-align: baseline;
}

.ap-toolbar .md-toolbar-tools {
  //background-color: #f6f6f6 !important;
  //color: #aaa !important;
  font-size: $placeholderFontSize !important;
}

.ap-sidebar-item {
  text-transform: none;
}

.md-title {
  font-size: $placeholderFontSize;
}

.ap-datepicker {
  margin-top: 14px;
}

.ap-i18n-icon {
  //color: rgb(0,150,136) !important;
}

md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder {
  font-size: $placeholderFontSize;
}

md-input-container:not(.md-input-has-value) input:not(:focus) {
  color: inherit;
}

.ap-content-margin {
  margin-top: 10px;
}
