<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body layout="row" ng-app="pocApp">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
          <user-avatar></user-avatar>
          <span></span>
          <div>Firstname Lastname</div>
          <div>email@domainname.com</div>
        </div>
      </md-toolbar>

      <md-list ng-controller="SidebarCtrl">
        <md-item ng-repeat="item in menu">
          <a ng-href="{{item.link}}" class="md-button md-ink-ripple" ng-class="{'active':item.isSelected}" ng-click="selectItem(item.link)">
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
              <div class="inset">
                <md-icon>{{item.icon}}</md-icon>
              </div>
              <div class="inset ap-sidebar-item" translate="{{item.titleLabel}}">
              </div>
            </md-item-content>
          </a>
        </md-item>
      </md-list>
    </md-sidenav>

    <div layout="column" class="" layout-fill role="main">
      <md-toolbar ng-controller="ToolbarCtrl" class="ap-toolbar">
        <div class="md-toolbar-tools">
          <md-button ng-click="showSidebar()" hide-gt-md aria-label="Menu">
            <md-icon>menu</md-icon>
          </md-button>
          <span flex></span>
          <md-input-container ng-controller="I18nCtrl as i18nCtrl">
            <md-icon class="ap-i18n-icon">language</md-icon>
            <md-select ng-model="i18nCtrl.selectedLanguage" aria-label="language" ng-change="i18nCtrl.changeLanguage()">
              <md-option ng-repeat="language in i18nCtrl.languages" value="{{language.abbrev}}"">
                {{language.name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </md-toolbar>

      <md-content flex md-scroll-y ng-controller="ApplicationCtrl as appCtrl" class="ap-content">
        <div ng-view="" layout="column" layout-fill layout-padding></div>
      </md-content>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/application.js"></script>
    <script src="scripts/controllers/personal-information.js"></script>
    <script src="scripts/controllers/applicants.js"></script>
    <script src="scripts/controllers/authentication.js"></script>
    <script src="scripts/controllers/i18n.js"></script>
    <script src="scripts/i18n/message_en.js"></script>
    <script src="scripts/i18n/message_zh.js"></script>
    <script src="scripts/controllers/toolbar.js"></script>
    <script src="scripts/controllers/sidebar.js"></script>
    <!-- endbuild -->

  </body>
</html>
