<form name="step1Form" novalidate>
  <div class="form-group"
      ng-class="{ 'has-error': step1Form.email.$touched && step1Form.email.$invalid,
                  'has-success': step1Form.email.$touched && step1Form.email.$valid,
                  'has-feedback': step1Form.email.$touched}">
    <label for="email" translate="FORM_EMAIL"></label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email"
          required=""  aria-describedby="inputSuccess2Status"
          ng-model="application.primaryContact.email"></input>
    <span class="glyphicon glyphicon-ok form-control-feedback"
          ng-show="step1Form.email.$touched && step1Form.email.$valid"></span>
    <span class="glyphicon glyphicon-remove form-control-feedback"
          ng-show="step1Form.email.$touched && step1Form.email.$invalid"></span>
    <div class="control-label" role="alert"
          ng-messages="step1Form.email.$error"
          ng-show="step1Form.email.$touched && step1Form.email.$invalid">
      <div ng-message="required" translate="FORM_VALIDATION_EMAIL_REQUIRED"></div>
      <div ng-message="email" translate="FORM_VALIDATION_EMAIL_VALID"></div>
    </div>
  </div>

  <div class="form-group"
      ng-class="{ 'has-error': step1Form.mobile.$invalid,
              'has-success': step1Form.mobile.$touched && step1Form.mobile.$valid,
              'has-feedback': step1Form.mobile.$invalid || (step1Form.mobile.$touched && step1Form.mobile.$valid)}">
    <label for="mobile" translate="FORM_MOBILE"></label>
    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile"
          ng-model="application.primaryContact.mobile">
    <span class="glyphicon glyphicon-ok form-control-feedback"
          ng-show="step1Form.mobile.$valid"></span>
    <span class="glyphicon glyphicon-remove form-control-feedback"
          ng-show="step1Form.mobile.$invalid"></span>
    <div class="control-label" role="alert"
          ng-messages="step1Form.mobile.$error"
          ng-show="step1Form.mobile.$invalid">
      <div ng-message="atleastone" translate="FORM_VALIDATION_AT_LEAST_ONE_PHONE"></div>
    </div>
  </div>

  <div class="form-group"
      ng-class="{ 'has-error': step1Form.landline.$invalid,
          'has-success': step1Form.landline.$touched && step1Form.landline.$valid,
          'has-feedback': step1Form.landline.$invalid || (step1Form.landline.$touched && step1Form.landline.$valid)}">
    <label for="landline" translate="FORM_LANDLINE"></label>
    <input type="text" class="form-control" id="landline" name="landline" placeholder="Landline"
          ng-model="application.primaryContact.landline">
    <span class="glyphicon glyphicon-ok form-control-feedback"
          ng-show="step1Form.landline.$valid"></span>
    <span class="glyphicon glyphicon-remove form-control-feedback"
          ng-show="step1Form.landline.$invalid"></span>
  </div>

  <button class="btn btn-primary" translate="FORM_BTN_NEXT"
           ng-disabled="step1Form.$invalid"
           ng-click="validate('/step2')"></button>
</form>
