<form name="step2Form" novalidate>
  <div class="form-group">
    <label for="geocoder" translate="FORM_SEARCH_ADDRESS"></label>
    <input type="text" class="form-control" id="geocoder" placeholder="Address">
  </div>
  <div class="form-group">
    <label for="postcode" translate="FORM_POSTCODE"></label>
    <input type="text" class="form-control" id="postcode" placeholder="Postcode"
          ng-model="application.deliveryAddress.postcode">
  </div>
  <div class="form-group">
    <label for="suburb" translate="FORM_SUBURB"></label>
    <input type="text" class="form-control" id="suburb" placeholder="Suburb"
          ng-model="application.deliveryAddress.suburb">
  </div>
  <div class="form-group">
    <label for="property" translate="FORM_PROPERTY"></label>
    <input type="text" class="form-control" id="property" placeholder="Property"
          ng-model="application.deliveryAddress.property">
  </div>

  <a href="#/" class="btn btn-primary" translate="FORM_BTN_PREVIOUS"
           ng-disabled="step2Form.$invalid"></a>
  <a href="#/" class="btn btn-primary" translate="FORM_BTN_SUBMIT"
           ng-disabled="step2Form.$invalid"></a>
</form>
